
<div class="js_dialog" id="iosDialog" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__hd"><strong class="weui-dialog__title"><%= data.text %></strong></div>
        <div class="weui-dialog__bd"><%= data.content %></div>
        <div class="weui-dialog__ft">
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_default J-button" data-index="0"><%= data.buttons[0].text %></a>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary J-button" data-index="1"><%= data.buttons[1].text %></a>
        </div>
    </div>
</div>
        